langchain 
langchain-ollama
langchain-community 
langchain-experimental 
langchain-huggingface 
langchain-google-genai 
sentence-transformers 
python-docx 
pymupdf 
chromadb 
python-dotenv
streamlit
ollama
sqlalchemy 
psycopg2-binary
pydrive